<section class="section" id="about-us">
  <div class="container">
    <div class="about-txt-wrapper">
      <h2 class="section-title">About Us</h2>
      <ul class="about-txt">
        <li class="about-txt-item">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </li>
        <li class="about-txt-item">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </li>
      </ul>
      <button class="about-btn" type="button">View catalog</button>
    </div>
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="
          ../img/about-us/clock-about-mob.webp    1x,
          ../img/about-us/clock-about-mob@2x.webp 2x
        "
      />

      <source
        media="(max-width: 1280px)"
        srcset="
          ../img/about-us/clock-about-tab.webp    1x,
          ../img/about-us/clock-about-tab@2x.webp 2x
        "
      />

      <img
        src="../img/about-us/clock-about-desk.webp"
        srcset="
          ../img/about-us/clock-about-desk.webp    1x,
          ../img/about-us/clock-about-desk@2x.webp 2x
        "
        alt="about-us-image"
        class="about-img"
      />
    </picture>
  </div>
</section>
