<section class="section" id="catalog">
  <div class="container catalog-container">
    <h2 class="section-title catalog-main">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-card-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/mob-01.webp    1x,
                ./img/catalog/mob/mob-01@2x.webp 2x
              "
            />
            <source
              media="(max-width: 1279px)"
              srcset="
                ./img/catalog/tab/tab-01.webp    1x,
                ./img/catalog/tab/tab-01@2x.webp 2x
              "
            />
            <img
              class="catalog-photo"
              src="./img/catalog/desk/desk-01.webp"
              srcset="
                ./img/catalog/desk/desk-01.webp    1x,
                ./img/catalog/desk/desk-01@2x.webp 2x
              "
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="279"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-card-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/mob-02.webp    1x,
                ./img/catalog/mob/mob-02@2x.webp 2x
              "
            />
            <source
              media="screen and (max-width: 1279px)"
              srcset="
                ./img/catalog/tab/tab-02.webp    1x,
                ./img/catalog/tab/tab-02@2x.webp 2x
              "
            />
            <img
              class="catalog-photo"
              src="./img/catalog/desk/desk-02.webp"
              srcset="
                ./img/catalog/desk/desk-02.webp    1x,
                ./img/catalog/desk/desk-02@2x.webp 2x
              "
              alt="Garmin Marq Athlete"
              width="279"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-title">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-card-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/mob-03.webp    1x,
                ./img/catalog/mob/mob-03@2x.webp 2x
              "
            />
            <source
              media="screen and (max-width: 1279px)"
              srcset="
                ./img/catalog/tab/tab-03.webp    1x,
                ./img/catalog/tab/tab-03@2x.webp 2x
              "
            />
            <img
              class="catalog-photo"
              src="./img/catalog/desk/desk-03.webp"
              srcset="
                ./img/catalog/desk/desk-03.webp    1x,
                ./img/catalog/desk/desk-03@2x.webp 2x
              "
              alt="Garmin Descent MK1"
              width="279"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-title">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-card-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/catalog/mob/mob-04.webp    1x,
                ./img/catalog/mob/mob-04@2x.webp 2x
              "
            />
            <source
              media="screen and (max-width: 1279px)"
              srcset="
                ./img/catalog/tab/tab-04.webp    1x,
                ./img/catalog/tab/tab-04@2x.webp 2x
              "
            />
            <img
              class="catalog-photo"
              src="./img/catalog/desk/desk-04.webp"
              srcset="
                ./img/catalog/desk/desk-04.webp    1x,
                ./img/catalog/desk/desk-04@2x.webp 2x
              "
              alt="Garmin D2 Delta PX"
              width="279"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-title">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>

      <li class="catalog-item hidden">
        <div class="catalog-card-img">
          <picture>
            <source
              media="screen and(max-width: 767px)"
              srcset="
                ./img/catalog/mob/mob-05.webp    1x,
                ./img/catalog/mob/mob-05@2x.webp 2x
              "
            />
            <source
              media="screen and (max-width: 1279px)"
              srcset="
                ./img/catalog/tab/tab-05.webp    1x,
                ./img/catalog/tab/tab-05@2x.webp 2x
              "
            />
            <img
              class="catalog-photo min-photo"
              src="./img/catalog/desk/desk-05.webp"
              srcset="
                ./img/catalog/desk/desk-05.webp    1x,
                ./img/catalog/desk/desk-05@2x.webp 2x
              "
              alt="Garmin Fenix 6 Pro Solar"
              width="279"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>

      <li class="catalog-item hidden">
        <div class="catalog-card-img">
          <picture>
            <source
              media="screen and(max-width: 767px)"
              srcset="
                ./img/catalog/mob/mob-05.webp    1x,
                ./img/catalog/mob/mob-05@2x.webp 2x
              "
            />
            <source
              media="screen and (max-width: 1279px)"
              srcset="
                /img/catalog/tab/tab-06.webp    1x,
                /img/catalog/tab/tab-06@2x.webp 2x
              "
            />
            <img
              class="catalog-photo min-photo"
              src="./img/catalog/desk/desk-06.webp"
              srcset="
                ./img/catalog/desk/desk-06.webp    1x,
                ./img/catalog/desk/desk-06@2x.webp 2x
              "
              alt="Tube Watch S42 Date Steel With Black Case"
              width="279"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-title">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>

    <button id="showMore" class="catalog-btn">Show more</button>
  </div>
</section>
