<section class="section" id="contact-us">
  <div class="container">
    <h2 class="section-title contact-us-title">Contact Us</h2>
    <div class="contact-us">
      <div class="contact-us-item">
        <div class="contact-form-container">
          <p class="contact-form-text">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>
          <form class="contact-form" id="contact-form">
            <div class="contact-form-item">
              <label for="name" aria-label="Name">
                <input
                  class="contact-form-input"
                  type="text"
                  name="name"
                  placeholder="Name"
                  id="name"
                  required
                />
              </label>
            </div>
            <div class="contact-form-item">
              <label for="email" aria-label="Email">
                <input
                  class="contact-form-input"
                  type="email"
                  name="email"
                  placeholder="Email"
                  id="email"
                  pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                  required
                />
              </label>
            </div>
            <div class="contact-form-item">
              <label for="telephone" aria-label="telephone">
                <input
                  class="contact-form-input"
                  type="tel"
                  name="telephone"
                  placeholder="+380"
                  id="telephone"
                  pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
                  required
                />
              </label>
            </div>
            <div class="contact-form-item">
              <label for="comment" aria-label="Comment">
                <textarea
                  class="contact-form-input textarea-input"
                  name="comment"
                  id="comment"
                  placeholder="Comment"
                ></textarea>
              </label>
            </div>
            <button
              type="submit"
              form="contact-form"
              class="contact-us-btn-send"
            >
              Send
            </button>
          </form>
        </div>
      </div>
      <div class="contact-us-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/contact-us/contact-us-photo.jpg    1x,
              /img/contact-us/contact-us-photo@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/contact-us/contact-us-photo-tab.jpg    1x,
              /img/contact-us/contact-us-photo-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/contact-us/contact-us-photo-mob.jpg    1x,
              /img/contact-us/contact-us-photo-mob@2x.jpg 2x
            "
          />
          <img
            src="/img/contact-us/contact-us-photo.jpg"
            alt="Contact Us Photo"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
