<section class="footer-section">
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-top">
                <div class="footer-left">
                    <div class="footer-logo">
                        watchcharm
                    </div>
                    <div class="footer-social">
                        <a href="#" class="social-link">
                            <svg class="icon">
                                <use href="./src/img/icons/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                        <a href="#" class="social-link">
                            <svg class="icon">
                                <use href="./src/img/icons/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                        <a href="#" class="social-link">
                            <svg class="icon">
                                <use href="./src/img/icons/icons.svg#icon-you-tube"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="footer-tagline">
                    <p>Have the time of your life with our<br>watches: where high-class craftsmanship<br>meets
                        impeccable design</p>
                </div>

                <div class="footer-contact">
                    <a href="tel:+380684439626" class="phone-link">+380 (68) 443-96-26</a>
                </div>
            </div>

            <div class="footer-nav">
                <nav class="footer-menu">
                    <a href="#" class="menu-link">Home</a>
                    <a href="#" class="menu-link">About Us</a>
                    <a href="#" class="menu-link">Catalog</a>
                    <a href="#" class="menu-link">Sale</a>
                    <a href="#" class="menu-link">Reviews</a>
                    <a href="#" class="menu-link">Contact Us</a>
                </nav>
                <div class="footer-address">
                    1678 S. Pioneer Road Salt<br>Lake City UT 84104
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-copyright">
                    ©2023 The Watch Spot. All rights reserved.
                </div>
                <div class="footer-legal">
                    <a href="#" class="legal-link">Terms of Service</a>
                    <a href="#" class="legal-link">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>