<header class="header-wrapper">

  <div class="container header-container">

    <nav class="header-nav-list">

      <a class="header-logo" href="./index.html">watchcharm</a>

      <ul class="header-ul-list">
        <li class="header-list-item">
          <a href="./header.html" class="header-list-link current">Home</a>
        </li>

        <li class="header-list-item">
          <a href="#about-us" class="header-list-link">About Us</a>
        </li>

        <li class="header-list-item">
          <a href="#catalog" class="header-list-link">Catalog</a>
        </li>

        <li class="header-list-item">
          <a href="#sale" class="header-list-link">Sale</a>
        </li>

        <li class="header-list-item">
          <a href="#reviews" class="header-list-link">Reviews</a>
        </li>

        <li class="header-list-item">
          <a href="#contact-us" class="header-list-link">Contact Us</a>
        </li>
      </ul>
    </nav>


    <button class="burger-btn js-mobile-menu" type="button" name="Button Menu">
      <svg class="burger-icons" width="28" height="14">
        <use href="/img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>


    <div class="header-social">
      <ul class="header-social-list">
        <li class="header-social-list-item">
          <a href="https://www.facebook.com/goITclub/" class="header-icon-link" target="_blank">
            <svg class="header-icon-style" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-list-item">
          <a href="https://www.instagram.com/goitclub/" class="header-icon-link" target="_blank">
            <svg class="header-icon-style" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-list-item">
          <a href="https://www.youtube.com/c/GoIT" class="header-icon-link" target="_blank">
            <svg class="header-icon-style" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-you-tube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="header-modal-mobile-menu ">



      <button class="close-btn js-mobile-menu" type="button" name="Close Button">
        <svg class="close-icons" width="32" height="32">
          <use href="/img/icons/icons.svg#icon-x"></use>
        </svg>
      </button>


      <nav class="header-nav-list-mobile-menu">


        <ul class="header-ul-list-mobile-menu">

          <li class="header-list-item-mobile-menu current">

            <a href="./header.html" class="header-list-link-mobile-menu  ">Home</a>

          </li>

          <li class="header-list-item-mobile-menu ">

            <a href="#about-us" class="header-list-link-mobile-menu  ">About Us</a>

          </li>

          <li class="header-list-item-mobile-menu">

            <a href="#catalog" class="header-list-link-mobile-menu">Catalog</a>

          </li>

          <li class="header-list-item-mobile-menu">

            <a href="#sale" class="header-list-link-mobile-menu">Sale</a>

          </li>

          <li class="header-list-item-mobile-menu">

            <a href="#reviews" class="header-list-link-mobile-menu">Reviews</a>

          </li>

          <li class="header-list-item-mobile-menu">

            <a href="#contact-us" class="header-list-link-mobile-menu">Contact Us</a>

          </li>

        </ul>

      </nav>

      <ul class="header-social-list-mobile-menu">

        <li class="header-social-list-item-mobile-menu">

          <a href="https://www.facebook.com/goITclub/" class="header-icon-link-menu" target="_blank">
            <svg class="header-icon-style-mobile-menu" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>

        </li>

        <li class="header-social-list-item-mobile-menu">

          <a href="https://www.instagram.com/goitclub/" class="header-icon-link-menu" target="_blank">
            <svg class="header-icon-style-mobile-menu" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>

        </li>

        <li class="header-social-list-item-mobile-menu">

          <a href="https://www.youtube.com/c/GoIT" class="header-icon-link-menu" target="_blank">
            <svg class="header-icon-style-mobile-menu" width="20" height="20">
              <use href="/img/icons/icons.svg#icon-you-tube"></use>
            </svg>
          </a>

        </li>

      </ul>

    </div>

  </div>

  <script>

    document.querySelectorAll(".js-mobile-menu").forEach((btn) => {
      btn.addEventListener("click", () => {
        document.querySelector(".header-modal-mobile-menu").classList.toggle("is-open");
      });
    });

    document.querySelectorAll(".js-form-menu").forEach((btn) => {
      btn.addEventListener("click", () => {
        document.querySelector(".header-modal-mobile-menu").classList.toggle("is-open");
      });
    });

  </script>

</header>