<header class="header header-wrapper">

  <div class="container header-container">

    <a class="header-logo" href="./index.html">watchcharm</a>

    <nav class="header-nav-list">

      <ul class="header-ul-list">

        <li class="header-list">

          <a href="./header.html" class="header-list-link header-home-link">Home</a>

        </li>

        <li class="header-list">

          <a href="#about-us" class="header-list-link">About Us</a>

        </li>

        <li class="header-list">

          <a href="#catalog" class="header-list-link">Catalog</a>

        </li>

        <li class="header-list">

          <a href="#sale" class="header-list-link">Sale</a>

        </li>

        <li class="header-list">

          <a href="#reviews" class="header-list-link">Reviews</a>

        </li>

        <li class="header-list">

          <a href="#contact-us" class="header-list-link">Contact Us</a>

        </li>


      </ul>

    </nav>


    <span class="burger-menu">

      <button class="burger-btn" type="button" name="Button Menu">

        <svg class="burger-icons" width="28" height="14">
          <use href="../img/icons/icons.svg#icon-burger"></use>
        </svg>

      </button>

    </span>

    <span class="header-icon">

      <ul class="header-icons-list">

        <li class="header-icons-list-items">

          <a href="https://www.facebook.com/goITclub/" class="header-icon-link" target="_blank">
            <svg class="header-icons-style" width="20" height="20">
              <use href="../img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>

        </li>

        <li class="header-icons-list-items">

          <a href="https://www.instagram.com/goitclub/" class="header-icon-link" target="_blank">
            <svg class="header-icons-style" width="20" height="20">
              <use href="../img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>

        </li>

        <li class="header-icons-list-items">

          <a href="https://www.youtube.com/c/GoIT" class="header-icon-link" target="_blank">
            <svg class="header-icons-style" width="20" height="20">
              <use href="../img/icons/icons.svg#icon-you-tube"></use>
            </svg>
          </a>

        </li>

      </ul>

    </span>





  </div>

</header>