<header class="header-wrapper">
  <div class="container header-container">
    <nav class="header-nav-list">
      <a class="header-logo" href="./index.html">watchcharm</a>

      <ul class="header-ul-list">
        <li class="header-list-item">
          <a href="#hero" class="header-list-link js-nav-link" aria-label="Go to homepage">Home</a>
        </li>

        <li class="header-list-item">
          <a href="#about-us" class="header-list-link js-nav-link" aria-label="Learn more about our company">About
            Us</a>
        </li>

        <li class="header-list-item">
          <a href="#catalog" class="header-list-link js-nav-link" aria-label="Browse our product catalog">Catalog</a>
        </li>

        <li class="header-list-item">
          <a href="#sale" class="header-list-link js-nav-link" aria-label="View discounted products">Sale</a>
        </li>

        <li class="header-list-item">
          <a href="#reviews" class="header-list-link js-nav-link" aria-label="Read customer reviews">Reviews</a>
        </li>

        <li class="header-list-item">
          <a href="#contact-us" class="header-list-link js-nav-link" aria-label="Get in touch with us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn js-mobile-menu" type="button" aria-label="Open button menu">
      <svg class="burger-icons" width="28" height="14" aria-hidden="true">
        <use href="/img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="header-social">
      <ul class="header-social-list">
        <li class="header-social-list-item">
          <a rel="noopener noreferrer" href="https://www.facebook.com/goITclub/" class="header-icon-link"
            target="_blank" aria-label="Visit our Facebook page">
            <svg class="header-icon-style" width="20" height="20" aria-hidden="true">
              <use href="/img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-list-item">
          <a rel="noopener noreferrer" href="https://www.instagram.com/goitclub/" class="header-icon-link"
            target="_blank" aria-label="Visit our Instagram page">
            <svg class="header-icon-style" width="20" height="20" aria-hidden="true">
              <use href="/img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-list-item">
          <a rel="noopener noreferrer" href="https://www.youtube.com/c/GoIT" class="header-icon-link" target="_blank"
            aria-label="Watch our videos on YouTube">
            <svg class="header-icon-style" width="20" height="20" aria-hidden="true">
              <use href="/img/icons/icons.svg#icon-you-tube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="header-modal-mobile-menu">
      <button class="close-btn js-mobile-menu" type="button" aria-label="Close button menu">
        <svg class="close-icons" width="17" height="17" aria-hidden="true">
          <use href="/img/icons/icons.svg#icon-x"></use>
        </svg>
      </button>

      <nav class="header-nav-list-mobile-menu">
        <ul class="header-ul-list-mobile-menu">
          <li class="header-list-item-mobile-menu">
            <a href="#hero" class="header-list-link-mobile-menu js-nav-link" aria-label="Go to homepage">Home</a>
          </li>

          <li class="header-list-item-mobile-menu">
            <a href="#about-us" class="header-list-link-mobile-menu js-nav-link"
              aria-label="Learn more about our company">About Us</a>
          </li>

          <li class="header-list-item-mobile-menu">
            <a href="#catalog" class="header-list-link-mobile-menu js-nav-link"
              aria-label="Browse our product catalog">Catalog</a>
          </li>

          <li class="header-list-item-mobile-menu">
            <a href="#sale" class="header-list-link-mobile-menu js-nav-link"
              aria-label="View discounted products">Sale</a>
          </li>

          <li class="header-list-item-mobile-menu">
            <a href="#reviews" class="header-list-link-mobile-menu js-nav-link"
              aria-label="Read customer reviews">Reviews</a>
          </li>

          <li class="header-list-item-mobile-menu">
            <a href="#contact-us" class="header-list-link-mobile-menu js-nav-link"
              aria-label="Get in touch with us">Contact Us</a>
          </li>
        </ul>
      </nav>

      <ul class="header-social-list-mobile-menu">
        <li class="header-social-list-item-mobile-menu">
          <a rel="noopener noreferrer" href="https://www.facebook.com/goITclub/" class="header-icon-link-menu"
            target="_blank" aria-label="Visit our Facebook page">
            <svg class="header-icon-style-mobile-menu" width="20" height="20" aria-hidden="true">
              <use href="/img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-list-item-mobile-menu">
          <a rel="noopener noreferrer" href="https://www.instagram.com/goitclub/" class="header-icon-link-menu"
            target="_blank" aria-label="Visit our Instagram page">
            <svg class="header-icon-style-mobile-menu" width="20" height="20" aria-hidden="true">
              <use href="/img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-list-item-mobile-menu">
          <a rel="noopener noreferrer" href="https://www.youtube.com/c/GoIT" class="header-icon-link-menu"
            target="_blank" aria-label="Watch our videos on YouTube">
            <svg class="header-icon-style-mobile-menu" width="20" height="20" aria-hidden="true">
              <use href="/img/icons/icons.svg#icon-you-tube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>