<section class="section hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to our <span class="hero-title-part">collection</span> of premium
      watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-box">
      <ul class="hero-list">
        <li class="hero-list-item">
          <img class="hero-list-item-img" src="" alt="" />
        </li>
        <li class="hero-list-item">
          <img class="hero-list-item-img" src="" alt="" />
        </li>
        <li class="hero-list-item">
          <img class="hero-list-item-img" src="" alt="" />
        </li>
      </ul>
      <a class="hero-scroll-link" href="#">Scroll down</a>
    </div>
    <img
      class="hero-section-img"
      width="335"
      height="366"
      src=""
      alt="photo of a watch"
    />
  </div>
</section>
