<section class="section hero" id="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-text-box">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-part">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-scroll-box">
        <ul class="hero-list">
          <li class="hero-list-item">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/team/mob-hero-team-img-1.webp    1x,
                  ./img/hero/team/mob-hero-team-img-1@2x.webp 2x
                "
              />
              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/hero/team/tab-hero-team-img-1.webp    1x,
                  ./img/hero/team/tab-hero-team-img-1@2x.webp 2x
                "
              />
              <source
                srcset="
                  ./img/hero/team/desk-hero-team-img-1.webp    1x,
                  ./img/hero/team/desk-hero-team-img-1@2x.webp 2x
                "
              />
              <img
                class="hero-list-item-img"
                src="./img/hero/team/desk-hero-team-img-1.webp"
                width="60"
                height="60"
                alt="photo Victoria Romashenko"
              />
            </picture>
          </li>
          <li class="hero-list-item">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/team/mob-hero-team-img-2.webp    1x,
                  ./img/hero/team/mob-hero-team-img-2@2x.webp 2x
                "
              />
              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/hero/team/tab-hero-team-img-2.webp    1x,
                  ./img/hero/team/tab-hero-team-img-2@2x.webp 2x
                "
              />
              <source
                srcset="
                  ./img/hero/team/desk-hero-team-img-2.webp    1x,
                  ./img/hero/team/desk-hero-team-img-2@2x.webp 2x
                "
              />
              <img
                class="hero-list-item-img"
                src="./img/hero/team/desk-hero-team-img-2.webp"
                width="60"
                height="60"
                alt="photo John Wax"
              />
            </picture>
          </li>
          <li class="hero-list-item">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/team/mob-hero-team-img-3.webp    1x,
                  ./img/hero/team/mob-hero-team-img-3@2x.webp 2x
                "
              />
              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/hero/team/tab-hero-team-img-3.webp    1x,
                  ./img/hero/team/tab-hero-team-img-3@2x.webp 2x
                "
              />
              <source
                srcset="
                  ./img/hero/team/desk-hero-team-img-3.webp    1x,
                  ./img/hero/team/desk-hero-team-img-3@2x.webp 2x
                "
              />
              <img
                class="hero-list-item-img"
                src="./img/hero/team/desk-hero-team-img-3.webp"
                width="60"
                height="60"
                alt="photo Anastasia Trachuk"
              />
            </picture>
          </li>
        </ul>
        <a class="hero-scroll-link js-nav-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/mob-hero-watch.webp    1x,
          ./img/hero/mob-hero-watch@2x.webp 2x
        "
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ./img/hero/tab-hero-watch.webp    1x,
          ./img/hero/tab-hero-watch@2x.webp 2x
        "
      />
      <source
        srcset="
          ./img/hero/desk-hero-watch.webp    1x,
          ./img/hero/desk-hero-watch@2x.webp 2x
        "
      />
      <img
        class="hero-section-img"
        width="1150"
        height="500"
        src="./img/hero/desk-hero-watch.webp"
        alt="photo of a watch"
      />
    </picture>
  </div>
</section>
