<section class="section hero" id="hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to our <span class="hero-title-part">collection</span> of premium
      watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-box">
      <ul class="hero-list">
        <li class="hero-list-item first">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/team/desk-hero-team-img-1.webp    1x,
                ../img/hero/team/desk-hero-team-img-1@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/hero/team/tab-hero-team-img-1.webp    1x,
                ../img/hero/team/tab-hero-team-img-1@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/hero/team/mob-hero-team-img-1.webp    1x,
                ../img/hero/team/mob-hero-team-img-1@2x.webp 2x
              "
            />
            <img
              class="hero-list-item-img"
              src="../img/hero/team/desk-hero-team-img-1.webp"
              width="44"
              height="44"
              alt="photo Victoria Romashenko"
            />
          </picture>
        </li>
        <li class="hero-list-item second">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/team/desk-hero-team-img-2.webp    1x,
                ../img/hero/team/desk-hero-team-img-2@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/hero/team/tab-hero-team-img-2.webp    1x,
                ../img/hero/team/tab-hero-team-img-2@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/hero/team/mob-hero-team-img-2.webp    1x,
                ../img/hero/team/mob-hero-team-img-2@2x.webp 2x
              "
            />
            <img
              class="hero-list-item-img"
              src="../img/hero/team/desk-hero-team-img-2.webp"
              width="44"
              height="44"
              alt="photo John Wax"
            />
          </picture>
        </li>
        <li class="hero-list-item third">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/hero/team/desk-hero-team-img-3.webp    1x,
                ../img/hero/team/desk-hero-team-img-3@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/hero/team/tab-hero-team-img-3.webp    1x,
                ../img/hero/team/tab-hero-team-img-3@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/hero/team/mob-hero-team-img-3.webp    1x,
                ../img/hero/team/mob-hero-team-img-3@2x.webp 2x
              "
            />
            <img
              class="hero-list-item-img"
              src="../img/hero/team/desk-hero-team-img-3.webp"
              width="44"
              height="44"
              alt="photo Anastasia Trachuk"
            />
          </picture>
        </li>
      </ul>
      <a class="hero-scroll-link" href="#footer">Scroll down</a>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/hero/desk-hero-watch.webp    1x,
          ../img/hero/desk-hero-watch@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/hero/tab-hero-watch.webp    1x,
          ../img/hero/tab-hero-watch@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/hero/mob-hero-watch.webp    1x,
          ../img/hero/mob-hero-watch@2x.webp 2x
        "
      />
      <img
        class="hero-section-img"
        width="335"
        height="366"
        src="../img/hero/desk-hero-watch.webp"
        alt="photo of a watch"
      />
    </picture>
  </div>
</section>
