/* Base Styles */

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

:root {
  --title-color: #0c0c0c;
  --description-color: rgba(12, 12, 12, 0.7);
  --blue-color: #3350e9;
  --white-color: #fbfbfb;
  --price-description-color: rgba(12, 12, 12, 0.5);
  --reviews-description-color: rgba(12, 12, 12, 0.4);
  --footer-description-color: rgba(251, 251, 251, 0.5);
  --hover-focus-blue-color: #1f3cd4;
}
