/* Base Styles */
:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
  --hover-focus-blue-color: #1f3cd4;

  /* --description-color: rgba(12, 12, 12, 0.7);
  --price-description-color: rgba(12, 12, 12, 0.5);
  --reviews-description-color: rgba(12, 12, 12, 0.4);
  --footer-description-color: rgba(251, 251, 251, 0.5); */
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  background-color: var(--background);
  color: var(--main);
}

.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: inherit;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25;
  }

  .section-title {
    font-size: 48px;
    line-height: 0.92;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
