:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

.catalog-container {
}

.catalog-main {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .catalog-main {
    margin-bottom: 40px;
  }
}

.catalog-list {
}

@media only screen and (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1270px) {
  .catalog-list {
    display: flex;
  }
}

.catalog-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 28px;
  width: 100%;
  background-color: var(--cards);
  margin-bottom: 20px;
}

.catalog-item:nth-child(5),
.catalog-item:nth-child(6) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .catalog-item {
    flex-basis: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }

  .catalog-item:nth-child(5),
  .catalog-item:nth-child(6) {
    display: flex;
  }
}

@media only screen and (min-width: 1270px) {
  .catalog-item {
    width: 368px;
    flex-basis: auto;
  }
}

.catalog-card-img {
  padding-bottom: 10px;
}

.catalog-photo {
  margin-bottom: 20px;
  border-radius: 100%;
}

.catalog-card {
}

.catalog-title {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 8px;
}

@media only screen and (max-width: 375px) {
  .catalog-title {
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  .catalog-title {
    font-size: 20px;
  }
}

.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  text-align: left;
}

.catalog-btn {
  display: block;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #1f3cd4;
}

@media only screen and (min-width: 767px) {
  .catalog-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
   {
  }
}
