/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

.section {
  padding: 40px 0;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }

  .section {
    padding: 40px 0;
  }
}
