/* Fonts Style */

/* ==================== */

/* Font-weight (Medium) */

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff2) format("woff2"),
    url(../fonts/Gilroy/Gilroy-Medium.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-Medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

/* ==================== */

/* Font-weight (Semi Bold) */

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/Gilroy-Semibold.woff2) format("woff2"),
    url(../fonts/Gilroy/Gilroy-Semibold.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-Semibold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
}

/* ==================== */

/* Font-weight (Regular) */

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff2) format("woff2"),
    url(../fonts/Gilroy/Gilroy-Regular.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

/* ==================== */

/* Font-weight (Bold) */

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy/Gilroy-Bold.woff2) format("woff2"),
    url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
