.section {
    padding-top: 60px;
    padding-bottom: 30px;
}

.hero {}

.container {}

.hero-container {}

.hero-wrapper {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 100%;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    color: #0c0c0c;
}

.hero-title-part {
    color: #3350e9;
}

.hero-text {
    color: rgba(12, 12, 12, 0.7);
}

.hero-scroll-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
    height: 44px;
    position: relative;
}

.hero-list {}

.hero-list-item:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
}

.hero-list-item:nth-child(2) {
    position: absolute;
    left: 32px;
    top: 0;
}

.hero-list-item:nth-child(3) {
    position: absolute;
    left: 62px;
    top: 0;
}

.hero-list-item-img {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    background-color: #F3F3F3;
}

.hero-scroll-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
}

.hero-section-img {
    border-radius: 30px;
    max-width: 100%;
}

/************ Tablet ************/

@media screen and (min-width:768px) {
    .section {
            padding-top: 80px;
            padding-bottom: 40px;
        }
        
    .hero-wrapper {
        margin-bottom: 40px;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        }

    .hero-text-box {
        max-width: 557px;
        }

    .hero-title {
        font-size: 70px;
        line-height: 0.86;
        max-width: 100%;
        }

    .hero-text {
        color: rgba(12, 12, 12, 0.7);
        max-width: 480px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.25;
        }

    .hero-scroll-box {
            flex-direction: column;
            min-width: 136px;
            height: 320px;
        }
        

    .hero-list-item:nth-child(1) {
        transform: translateX(+75%);
        }
    
    .hero-list-item:nth-child(2) {
        transform: translateX(+75%);
        }
    
    .hero-list-item:nth-child(3) {
        transform: translateX(+75%);
        }

    .hero-section-img {
        border-radius: 50px;
        min-width: 704px;
        min-height: 520px;
        }
}

/************ Desktop ************/

@media screen and (min-width:1280px) {
    .section {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        .hero-wrapper {
            justify-content: space-between;
            position: relative;
        }

        .hero-text-box {
            max-width: 597px;
            }
    
    .hero-title {
        font-size: 72px;
        line-height: 0.88;
        }

    .hero-scroll-box {
        min-width: 146px;
        height: 270px;
        }

    .hero-list-item:nth-child(1) {
        transform: translateX(+85%);
        }
                
    .hero-list-item:nth-child(2) {
        transform: translateX(+85%);
        }
                
    .hero-list-item:nth-child(3) {
        transform: translateX(+85%);
        }

    .hero-section-img {
        min-width: 1150px;
        min-height: 520px;
        }
}