
.hero {
    padding-top: 60px;
}

.hero-wrapper {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    color: #0c0c0c;
    letter-spacing: -0.02em;
}

.hero-title-part {
    color: #3350e9;
}

.hero-text {
    color: rgba(12, 12, 12, 0.7);
}

.hero-scroll-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-height: 44px;
}

.hero-list-item {
    display: inline-block;
}

.hero-list-item:nth-child(n+2) {
    margin-left: -12px;
}

.hero-list-item-img {
    border-radius: 100%;
    border: 2px solid #fbfbfb;
    background-color: #F3F3F3;
}

.hero-scroll-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    min-width: 72px;
}

.hero-section-img {
    border-radius: 30px;
    max-width: 100%;
}

/************ Tablet ************/

@media screen and (min-width:768px) {
    .hero {
        padding-top: 80px;
        }
        
    .hero-wrapper {
        margin-bottom: 40px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        }

    .hero-text-box {
        min-width: 557px;
        }

    .hero-title {
        font-size: 70px;
        line-height: 0.86;
        width: 100%;
        }

    .hero-text {
        color: rgba(12, 12, 12, 0.7);
        max-width: 480px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.25;
        }

    .hero-scroll-box {
        flex-direction: column;
        min-width: 146px;
        min-height: 260px;
        }
        
    .hero-list-item:nth-child(n+2) {
        margin-left: -19px;
        }

    .hero-list-item-img {
        width: 56px;
        height: 56px;
        }

    .hero-scroll-link {
        min-width: 102px;
        }

    .hero-section-img {
        border-radius: 50px;
        min-width: 704px;
        min-height: 520px;
        }
}

/************ Desktop ************/

@media screen and (min-width:1280px) {
    
    .hero {
        padding-top: 100px;
        }       

    .hero-text-box {
        max-width: 597px;
        }
    
    .hero-title {
        font-size: 72px;
        line-height: 0.88;
        }

    .hero-scroll-box {
        max-width: 146px;
        height: 270px;
        }

    .hero-list-item:nth-child(n+2) {
        margin-left: -21px;
        }

    .hero-list-item-img {
        width: 60px;
        height: 60px;
        }

    .hero-section-img {
        min-width: 1150px;
        min-height: 520px;
        }
}